p {
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}

table {
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}

td {
  border: 1px solid black;
}

td:hover {
  background-color: yellow;
}


.cell {
  width: 50px;
  height: 50px;
}

.lastAiMove {
  border: 5px solid rgb(255, 0, 0);
}

.lastPlayerMove {
  border: 5px solid rgb(0, 4, 255);
}
