p {
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}


/* .gameOptions {
  background-color: aquamarine;
  float:left;
  position: absolute;
} */


.table {
  display: table; 
  /* justify-content: center; */
  width: 500px;
  height: 500px;
  margin: 0 auto;
  text-align:center;
}

/* .table > .row {
  display: table-row; 
} */


.table > .row > .cell {
  display: table-cell;
  width: 30px;
  height: 30px;
  border:  1px solid #4203c9;
  justify-content: center;
}

.inner {
  justify-content: center;
  position: absolute;
  margin: 0 10px;
}

.aiCell {
  background-color: #16acea;
}

.playerCell {
  background-color: #e8d71e;
}

.lastAiMove {
  outline: 3px solid #007baf;
}

.lastPlayerMove {
  outline: 3px solid #696100;
}

.winningSequence {
  background-color: #d71b3b;
}

.obstacle {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0) 49.9%, #4203c9 49.9%,#4203c9 60%, rgba(0, 0, 0, 0) 60%) 
              fixed,
              linear-gradient(45deg,#4203c9 10%, rgba(0, 0, 0, 0) 10%) 
              fixed;
  background-size: 0.5em 0.5em
}