<p>{{gameService.result}}</p>

<div>
  <input type="checkbox" id="obstacles" name="obstacles" [(ngModel)]="isObstaclesChecked" (change)="checkObstacles()">
  <label for="obstacles">Obstacles</label>
  <br><br>
  <label for="level">Choose your opponent:</label>
  <select name="level" id="level" [(ngModel)]="difficultyLevel" (change)="onLevelSelect()" [disabled]="gameService.difficultyLevelDisabled">
    <option value="1">1</option>
    <option value="2" selected>2</option>
    <option value="3">3</option>
    <option value="4">4</option>
  </select>
</div>

<table>
  <tr *ngFor="let row of numbers">
    <td class="cell"
      *ngFor="let column of numbers"
      (click)="makeMove(row, column)"
      [ngClass]="{lastAiMove:gameService.lastMove[row][column] == 'ai', aiCell:gameService.board[row][column] == '0'}"
      [ngClass]="{lastPlayerMove:gameService.lastMove[row][column] == 'player', playerCell:gameService.board[row][column] == 'x'}"
      [ngClass]="{winningSequence:gameService.winningSequence[row][column]}"
      >{{gameService.board[row][column]}}</td>
  </tr>

</table>
